<div class="col-md-4 col-md-offset-4">
    <h2>新增討論版</h2>

    <hr>
    <%= form_for @group do |f| %>

    標題
    <%= f.text_field :title %>
    <br>
    敘述
    <br>
    <%= f.text_area :description %>
    <br>

    <%= f.submit "submit", :disable_with => 'Submiting...' %>
    <% end %>
</div>
